<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <h1>Edit Book</h1>
  <form action="#" th:action="@{../save}" th:object="${book}" method="post">
    <input type="hidden" id="id" th:field="*{id}" />
    <label for="fname">Author: </label>
    <input type="text" id="fname" th:field="*{author}" />
    <div style="clear: both; display: block; height: 10px;"></div>
    <label for="lname">Title: </label>
    <input type="text" id="lname" th:field="*{title}" />
    <div style="clear: both; display: block; height: 10px;"></div>
    <label for="email">ISBN:</label>
    <input type="number" th:field="*{isbn}" />
    <div style="clear: both; display: block; height: 10px;"></div>
    <label for="email">Year of publishion:</label>
    <input type="number" th:field="*{years}" />
    <div style="clear: both; display: block; height: 10px;"></div>
    <label for="email">price:</label>
    <input type="number" th:field="*{price}" />

    <div style="clear: both; display: block; height: 10px;"></div>
    <label for="deplist">Category:</label>
    <select id="deplist" th:field="*{category.categoryid}" class="form-control">
      <option th:each="category: ${categorys}" th:value="${category.categoryid}" th:text="${category.name}"></option>
    </select>

    <div style="clear: both; display: block; height: 10px;"></div>
    <p><input type="submit" value="Edit" /></p>
  </form>

</body>

</html>